.box-1 {
margin: 20px;
border: 400px solid hotpink;
padding: 90px;
background-color: pink;
}

.box-2 {
margin: 20px;
border: 400px solid black;
padding: 90px;
background-color: pink;
}


.box-3 {
margin: 20px;
border: 400px solid hotpink;
padding: 90px;
background-color: pink;
}